@model List<Avaliacao3Lp3.ViewModels.ComercioViewModel>

    @{
        ViewData["Title"] = "Lojas e Quiosques";
    }
    
    <h1>Gerenciamento</h1>
    
    @if(Model.Count == 0)
    {
        <p>Não há nenhuma loja ou quiosque</p>
    }
    else
    {
        <hr>
        @foreach(var comercio in Model)
        {
            <h3>@comercio.Nome</h3>
            <a href="Detalhes/@comercio.Id">Detalhes</a>
            <span>&nbsp;&nbsp;</span>
            <a href="Excluir/@comercio.Id">Excluir</a>
            <hr>
        }
    }